# Исключение файла конфигурации
.env

# Исключение папки node_modules
node_modules/

# Исключение файлов IntelliJ IDEA/PhpStorm (на основе файлов .xml в вашем проекте)
*.iml
workspace.xml
modules.xml
